:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)* 0.9);
    --pantone-honeysuckle: rgb(203, 101, 134);
    --pantone-classic-blue: rgb(16, 76, 129);
    --pantone-rose-quartz: #f7cac9;
    --pantone-serenity: #92a8d1;
}

html {
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (2800 - 300)));
    font-family: Roboto, Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pantone-rose-quartz);
    padding-top: 25vh;
}

/* modal */
.modal {
    border: none;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    background-color: var(--pantone-serenity);
}

input[type="radio"],
input[type="radio"]:checked {
    accent-color: var(--pantone-rose-quartz);
}

.submit-form-button {
    background-color: var(--pantone-rose-quartz);
    padding: 10px;
}

/* game container */
.game-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* announcement area */
.game-announcement {
    font-size: 2rem;
}

/* board container */
.board-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.board-cell {
    background-color: var(--pantone-serenity);
    height: var(--cell-size);
    width: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* creating the X element */
.board-cell.x::before,
.board-cell.x::after {
    content: '';
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
    background-color: black;
    position: absolute;
}

.board-cell.x::before {
    transform: rotate(45deg);
}

.board-cell.x::after {
    transform: rotate(-45deg);
}

/* creating the 0 element */
.board-cell.circle::before,
.board-cell.circle::after {
    content: '';
    background-color: black;
    position: absolute;
    border-radius: 50%;
}

.board-cell.circle::before {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: black;
}

.board-cell.circle::after {
    width: calc(var(--mark-size) * 0.7);
    height: calc(var(--mark-size) * 0.7);
    background-color: var(--pantone-serenity);
}

/* game buttons */
.replay-game,
.reset-game {
    font-size: 1.5rem;
    padding: 10px;
    display: inline-block;
}

.hidden {
    display: none;
}
